<% content_for :append_head do %>
    <!-- page specific head attributes -->
<% end %>

<% content_for :append_body do %>
    <!-- page specific body attributes -->
<% end %>

<!-- Section -->
<section class="small-section bg-gray-lighter pt-30 pb-30">
  <div class="relative container align-left">

    <div class="row">

      <div class="col-md-8">
        <h1 class="align-center hs-line-11 font-alt mb-0">Dashboard</h1>
      </div>

    </div>

  </div>
</section>
<!-- End Section -->

<!-- Section -->
<section class="section pt-20">
  <div class="container relative">

    <!-- Row -->
    <div class="row">

      <!-- Col -->
      <div class="col-md-8 col-md-offset-2">

        <!-- Info Message -->
        <div class="alert info">
          <%= display_notifications %>
        </div>
      </div>
    </div>
  </div>
</section>
