<section id = "tutor_bookings">
  <div class="container relative font-alt">
    <div class = "col-md-12 col-sm-12 col-lg-12 col-xs-12">
      <% if @past_tutoring_bookings != nil then %>
        <% @past_tutoring_bookings.each do | booking | %>
          <div class = "booking">
            Time: <%= booking.datetime_formatted %>
          <%= link_to "View Booking", profile_booking_path(current_profile, booking.id), :class => " btn btn-mod btn-w  btn-round conversation_link" %>
          </div>
        <% end %>
        <%= js_will_paginate @past_tutoring_bookings ,  :param_name => 'tutor_past_page' , :params => {:format => 'js'}%>
      <% else %>
        <p> No previous bookings as a tutor </p>
      <% end %>
    </div>
  </div>
</section>

<section id = "student_bookings" class = "hidden_bookings">
  <div class="container relative font-alt">
    <div class = "col-md-12 col-sm-12 col-lg-12 col-xs-12">
      <% if @past_student_bookings != nil then %>
        <% @past_student_bookings.each do | booking | %>
          <div class = "booking">
            Time: <%= booking.datetime_formatted %>
          <%= link_to "View Booking", profile_booking_path(current_profile, booking.id), :class => " btn btn-mod btn-w  btn-round conversation_link" %>
          </div>
        <% end %>
        <%= js_will_paginate @past_student_bookings ,  :param_name => 'student_past_page' , :params => {:format => 'js'}%>
      <% else %>
        <p> No previous bookings as a student </p>
      <% end %>
    </div>
  </div>
</section>
