<%= render partial: 'bookings/sub_header' %>

<section class="small-section">
  <div class="container relative">
    <div class = "col-md-12 col-sm-12 col-lg-12 col-xs-12">
      <div class="section-title col-md-8 font-alt mb-60 mb-sm-30">
        <span class= "col-md-8 col-sm-9 col-lg-8 col-xs-8">
          Past Bookings for which I am a:
        </span>
        <span class ="directly_below col-md-4 col-sm-3 col-lg-4 col-xs-4" style ="text-align: left">
          <span class = "tutor_selector" id = "tutor_selector"  ><a href="javascript:changeBookings('tutor')">Tutor</a></span>
          <span class = "student_selector unselected_bookings" id = "student_selector" ><a href="javascript:changeBookings('student')">Student</a></span>
        </span>
      </div>
    </div>
  </div>
</section>

<div id = "bookings">
  <%= render partial: 'booking_history/index' %>
</div>
