<div class="popup col-md-5 col-sm-8" id = "popUpMsg">
  <!-- Popup Div Starts Here -->
  <div id="popupContact">
    <!-- Contact Us Form -->
    <form id="form" name="form">
      <h5 class="font-alt" id="title"></h5>
      <hr>
      <div class = 'message_error' id = "message_error" ></div>
      <textarea class="message_input" id="msg" name="message" placeholder="Message" maxlength="250" rows=1></textarea>
      <a href="javascript:send()" id="submit" class="btn btn-mod btn-sml btn-round">Send</a>
    </form>
  </div>
  <!-- Popup Div Ends Here -->
</div>

<div class="popup col-md-5 col-sm-8" id = "popUpDone">
  <!-- Popup Div Starts Here -->
  <div id="popupContact" class = "col-md-4 col-sm-6">
    <div id="form">
      <h5 class="font-alt" id="title">Message Sent!</h5>
    </div>
  </div>
  <!-- Popup Div Ends Here -->
</div>
