<%= render partial: 'sub_header' if @profile == current_user %>

<section class="panel panel-default">
  <div class="container relative">

    <h2 class="section-title font-alt mb-60 mb-sm-30">
      Your Profile
    </h2>

    <div class="panel panel-default col-md-8 col-md-offset-2">
      <div class="panel-body profile_form">
        <%= form_for @profile, url: profile_path(@profile), html: {method: :put} do |f| %>
            <% if @profile.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@profile.errors.count, "error") %> prohibited your details from being saved:</h2>

                  <ul>
                    <% @profile.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>
            <div class="form-group">
              <%= f.label :description , class: "font-alt normal" %><br/>
              <%= f.text_area :description, class: "description form-control profile-label", rows: "5", maxlength: "500", placeholder: "Tell Everyone About Yourself!" %>
            </div>
            <div class="form-group">
              <%= f.label "Profile Picture" , class: "font-alt normal"%><br/>
              <%= f.file_field :avatar, class: "profile-label" %>
              <div style = "padding-top: 5px" id="target" > </div>
            </div>
            <div class="form-group">
              <%= f.label "Tutoring Years" , class: "font-alt normal" %><br/>
              <%= f.collection_check_boxes :tutoring_year_ids, TutoringYear.all, :id, :name do |b| %>
                  <div class="collection-check-box profile-label squaredFour">
                    <%= b.check_box %>
                    <%= b.label :class => "normal" %>
                  </div>
              <% end %>
            </div>
            <div class="form-group">
              <%= f.label "Medium" , class: "font-alt normal" %><br/>
              <%= f.collection_check_boxes :medium_ids, Medium.all, :id, :name do |b| %>
                  <div class="collection-check-box profile-label">
                    <%= b.check_box %>
                    <%= b.label :class => "normal" %>
                  </div>
              <% end %>
            </div>
            <div class="form-group">
              <%= f.label "Days Available" , class: "font-alt normal" %><br/>
              <%= f.collection_check_boxes :availability_ids, Availability.all, :id, :day do |b| %>
                  <div class="collection-check-box profile-label">
                    <%= b.check_box %>
                    <%= b.label :class => "normal" %>
                  </div>
              <% end %>
            </div>
            <div class="form-group">
              <%= f.label :phone_number , class: "font-alt normal" %><br/>
              <%= f.text_field :phone_number, class: "form-control profile-label" %>
            </div>
            <div class="form-group">
              <%= f.label :university, "University" , class: "font-alt normal" %><br/>
              <%= f.autocomplete_field :university, autocomplete_university_name_profiles_path,
                                       'data-auto-focus' => true,
                                       'data-noMatchesLabel' => 'No Subjects Found', 'id' => 'university_search', 'value' => @university_value, class: 'form-control profile-label' %>
            </div>
            <div class="form-group">
              <%= f.label :rate_cents, 'Rate (NZD) Per Hour' , class: "font-alt normal" %><br/>
              <%= f.text_field :rate_cents, data: {autonumeric: {aSign: '$', a_sep: ',', a_dec: '.', vMin: '0', vMax: "100"}}, class: 'profile-label form-control', value: rate_to_dollars %>
            </div>
            <div class="form-group">
              <%= f.label :active_tutor , class: "font-alt normal" %><br/>
              <%= f.check_box :active_tutor, class: "" %>
            </div>
            <div class="form-group tutoring_subjects">
              <%= f.label "Tutoring Subjects (Start typing)" , class: "font-alt normal" %><br/>
              <%= f.autocomplete_field :tutoring_subjects, autocomplete_tutoring_subject_name_profiles_path,
                                       'data-auto-focus' => true,
                                       'data-noMatchesLabel' => 'No Subjects Found', 'id' => 'search_box', 'value' => '', class: 'profile-label form-control' %>
            </div>
            <div class="form-group" style="display:none">
              <%= f.text_area :tutoring_subjects, class: "form-control profile-label normal form-control", id: "hidden_tutoring_subjects", value: display_tutoring_subjects_edit %>
            </div>
            <div class="form-group">
              <%= f.label "Course Codes (Separated by comma)" , class: "font-alt normal" %><br/>
              <%= f.text_area :course_codes,  class: "form-control profile-label", value: display_course_codes_edit %>
            </div>
            <%= f.submit "Submit", class: "col-md-offset-5 col-sm-offset-5 submit_btn btn btn-mod btn-medium btn-round" %>
        <% end %>
      </div>
    </div>

  </div>
</section>

