<%= render partial: 'sub_header' if @profile == current_user %>

<section class="small-section " id="about">
  <div class="container relative">

    <h2 class="section-title font-alt align-left mb-70 mb-sm-40">
      Viewing <%= @profile.first_name %>'s Profile
    </h2>

    <div class="row">
      <!-- Team item -->
      <div class="col-md-3 col-sm-4 mb-xs-120" style="visibility: visible; animation-name: fadeInUp;">
        <div class="team-item col-md-12 col-sm-12 mb-xs-30 wow fadeInUp">
          <div class="team-item-image">
            <%= image_tag @profile.avatar.url(:thumb) %>
            <div class="team-item-detail">
            </div>
          </div>
        </div>
        <div class="contact_box col-md-12 col-sm-12 mb-sm-50 mb-xs-30">
          <% if current_profile.id != @profile.id %>
              <span class = "font-alt contact_text col-md-12 col-sm-12 col-xs-12" > Contact <%= @profile.first_name %> </span>
              <a class="contact_button btn btn-mod btn-round col-md-12 col-sm-12 col-xs-12 mt-10 mb-10" href="javascript:div_show('<%= @profile.first_name %>' , <%= @profile.id.to_s %>)"><%= "Message " + @profile.first_name %> </a>
              <%= link_to "Book A Session" , new_profile_booking_path(@profile), :class => "contact_button btn btn-mod col-xs-12 col-md-12 col-sm-12 btn-round" %>
          <% end %>
        </div>
      </div>

      <div class="col-md-7 col-sm-6 mb-sm-50 mb-xs-30">

        <div class="col-md-12 col-sm-12 mb-sm-50 mb-xs-30">
          <h4 class="font-alt normal">About me</h4>
          <div class="section-text">
            <%= @profile.description %>
          </div>
        </div>

        <div class="col-md-6 col-sm-12 mb-sm-50 mb-xs-30">
          <h5 class="font-alt normal">Rate</h5>
          <div class="section-text">
            <%= "#{humanized_money_with_symbol rate_to_dollars} Per Hour" %>
          </div>
        </div>

        <div class="col-md-6 col-sm-12 mb-sm-50 mb-xs-30">
          <h5 class="font-alt normal">Medium</h5>
          <div class="section-text">
            <%= @profile.mediums.map(&:name).join(', ') %>
          </div>
        </div>

        <div class="col-md-6 col-sm-12 mb-sm-50 mb-xs-30">
          <h5 class="font-alt normal">Tutoring years</h5>
          <div class="section-text">
            <%= @profile.tutoring_years.map(&:name).join(', ') %>
          </div>
        </div>

        <div class="col-md-6 col-sm-12 mb-sm-50 mb-xs-30">
          <h5 class="font-alt normal">Availability</h5>
          <div class="section-text">
            <%= @profile.availabilities.map(&:day).join(', ') %>
          </div>
        </div>

        <div class="col-md-6 col-sm-12 mb-sm-50 mb-xs-30">
          <h5 class="font-alt normal">Tutoring Subjects</h5>
          <div class="section-text">
            <% if @profile.tutoring_subjects != nil %>
              <%= display_tutoring_subjects_show %>
            <% end %>
          </div>
        </div>

        <div class="col-md-6 col-sm-12 mb-sm-50 mb-xs-30">
          <h5 class="font-alt normal">Course codes</h5>
          <div class="section-text">
          <% if @profile.course_codes != nil %>
            <%= display_course_codes_show %>
          <% end %>
          </div>
        </div>

        <div class="col-md-6 col-sm-12 mb-sm-50 mb-xs-30">
          <h5 class="font-alt normal">University</h5>
          <div class="section-text">
            <%= @profile.try(:university).try(:name) %>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>

<section class="small-section bg-gray-light">
  <div class="container relative">

    <h2 class="section-title font-alt mb-60 mb-sm-30">
      reviews
    </h2>

    <div id="reviews">
      <%= render 'reviews/index' %>
    </div>

  </div>
</section>

<%= render 'messages/message' %>
