<%= bootstrap_devise_error_messages! %>
<div class="panel panel-default">
  <h2 class="section-title font-alt mb-60 mb-sm-30">
    <%= t('.resend_confirmation_instructions', :default => 'Resend confirmation instructions') %>
  </h2>
  <div class="panel-body">
    <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => {:method => :post, role: "form"}) do |f| %>
        <div class="form-group col-md-offset-3 col-md-6">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class: "form-control profile-label" %>
        </div>

        <%= f.submit t('.resend_confirmation_instructions', :default => 'Resend confirmation instructions'),
                     class: "col-md-offset-4 col-sm-offset-5 submit_btn btn btn-mod btn-medium btn-round" %>
    <% end %>
  </div>
</div>
