<%= render partial: 'profiles/sub_header' if @profile == current_user %>

<%= bootstrap_devise_error_messages! %>

<!-- Section -->
<section class="small-section">
  <div class="container relative">

    <h2 class="section-title font-alt mb-50 mb-sm-40">
      Change Password
    </h2>

    <div class="section-text pt-20">

      <div class="fade in">

        <!-- Login Form -->
        <div class="row">
          <div class="col-md-8 col-md-offset-2">

            <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put}) do |f| %>
                <div class="clearfix">
                  <div class="form-group">
                    <%= f.label "New Password", class: "font-alt normal" %>
                    <%= f.password_field :password, :autocomplete => "off", class: "form-control profile-label" %>
                  </div>
                  <div class="form-group">
                    <%= f.label :password_confirmation, class: "font-alt normal" %><br/>
                    <%= f.password_field :password_confirmation, class: "form-control profile-label" %>
                  </div>
                  <div class="form-group">
                    <%= f.label :current_password, class: "font-alt normal" %>
                    <i>(<%= t('.we_need_your_current_password_to_confirm_your_changes', :default => 'we need your current password to confirm your changes') %>
                      )</i>
                    <%= f.password_field :current_password, class: "form-control profile-label" %>
                  </div>
                </div>

                <div class="clearfix  col-md-offset-3 col-sm-offset-3">
                  <div class="cf-right-col">

                    <!-- Send Button -->
                    <div class="align-right pt-10">
                      <!--<button class="submit_btn btn btn-mod btn-medium btn-round" id="login-btn">Login</button>-->
                      <%= f.submit t('.update', :default => "Update"), class: "submit_btn btn btn-mod btn-medium btn-round" %>
                    </div>

                  </div>

                </div>

                <!--</form>-->
            <% end %>
          </div>
        </div>
        <!-- End Login Form -->
      </div>
    </div>

  </div>
</section>
<!-- End Section -->
