<%= bootstrap_devise_error_messages! %>

<!-- Section -->
<section class="small-section">
  <div class="container relative">

    <h2 class="section-title font-alt mb-70 mb-sm-40">
      Sign Up
    </h2>

    <div class="section-text pt-20">

      <div class="fade in">

        <!-- Login Form -->
        <div class="row">
          <div class="col-md-4 col-md-offset-4">

            <!--<form class="form contact-form" id="contact_form" autocomplete="off">-->
            <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {role: "form"}) do |f| %>
                <div class="clearfix">

                  <div class="form-group">
                    <%= f.label :first_name %>
                    <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
                  </div>
                  <div class="form-group">
                    <%= f.label :email %>
                    <%= f.email_field :email, class: "form-control" %>
                  </div>
                  <div class="form-group">
                    <%= f.label :password %><br/>
                    <%= f.password_field :password, class: "form-control" %>
                  </div>
                  <div class="form-group">
                    <%= f.label :password_confirmation %>
                    <%= f.password_field :password_confirmation, class: "form-control" %>
                  </div>

                </div>

                <div class="clearfix">

                  <div class="cf-left-col">

                    <!-- Inform Tip -->
                    <div class="form-tip pt-20">
                      <%= link_to t('.didn_t_receive_confirmation_instructions', :default => "Didn't receive confirmation instructions?"), new_confirmation_path(resource_name) %>
                    </div>

                  </div>

                  <div class="cf-right-col">

                    <!-- Send Button -->
                    <div class="align-right pt-10">
                      <!--<button class="submit_btn btn btn-mod btn-medium btn-round" id="login-btn">Login</button>-->
                      <%= f.submit  t('.sign_up', :default => "Sign up"), class: "submit_btn btn btn-mod btn-medium btn-round" %>
                    </div>

                  </div>

                </div>

                <!--</form>-->
            <% end %>
          </div>
        </div>
        <!-- End Login Form -->
      </div>
    </div>

  </div>
</section>
<!-- End Section -->
