<section class="small-section">
  <div class="container relative">
    <h2 class="section-title font-alt mb-60 mb-sm-30">
      Thank you for signing up!
    </h2>
    <h6 class="section-text align-center">
      Please check your email address for your confirmation code.</br>
      If no confirmation code is recieved within 15 minutes, please contact us.
    </h6>
    <h6 class="section-text align-center">
      We look forward to you helping our community grow.
    </h6>
  </div>
</section>
