<div class="conversations" style="height: 600px;">
  <div class="wrapper">
    <div class="conversation_container">
      <div class="col-md-10 col-sm-10 right_convo ">

        <div class="booking_convo chat ">
          <div class="conversation-start">
            <span>No More Messages</span>
          </div>
          <% @messages.reverse_each { |message, i| %>

              <% if message.from_id == current_profile.id %>
                  <div class="bubble me">
                    <div class="time"><%= message.created_at.strftime("%x %H:%M:%S") %></div>
                    <%= message.message %>
                  </div>
              <% else %>
                  <div class="bubble you">
                    <div class="time"><%= message.created_at.strftime("%x %H:%M:%S") %></div>
                    <%= message.message %>
                  </div>
              <% end %>
          <% } %>

        </div>
        <div class="write col-md-12">
          <input name="message" class="message_input" type="text" placeholder="Type a message here"/>
          <a href="javascript:sendBookingMessage(<%= current_profile.id.to_s + "," + @booking.id.to_s %>)" class="write-link send"></a>
        </div>
      </div>
    </div>
  </div>
</div>
