$(".convo").html("<%= escape_javascript(render :partial => 'bookings_messages/index' ) %>");

$('.message_input').bind('keypress', function(e) {
  if(e.keyCode == 13){
    if(e.shiftKey) {
    } else {
      sendBookingMessage(<%= @booking.id.to_s %>);
    }
  }
});
