<section class="small-section " id="about">
  <div class="container relative">
    <div class="align-center">
      <h2 class="section-title font-alt mb-20 mb-sm-20" >Balance: $<%= @profile.balance_dollars %></h2>
      <%= link_to "Add funds", new_profile_add_fund_path(current_profile), class: "section-title font-alt btn btn-round btn-mod btn-medium mb-20 mb-sm-20" %>
      <p class="font-alt">(Email us to withdraw funds)</p>
    </div>

    <h2 class="section-title font-alt align-left mb-70 mb-sm-40 bottom-border-line">
      Transaction History
    </h2>

    <div class="transactions">
      <table>
        <thead>
          <tr>
            <th>Amount</th>
            <th>Date</th>
            <th>Time</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>
          <% @txns.each do |txn| %>
            <tr>
              <%= content_tag(:td, humanized_money_with_symbol(txn.amount.dollars)) %>
              <%= content_tag(:td, txn.created_at.to_date) %>
              <%= content_tag(:td, txn.created_at.strftime("%I:%M%p")) %>
              <%= content_tag(:td, txn.txn_type.capitalize) %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= will_paginate @txns %>
  </div>
</section>
