<div class="add_funds">
  <%= form_for @txn, url: profile_add_funds_path(@profile, @txn) do |f| %>
    <div class="group">
      <label>
        <span>Name</span>
        <input id="cardholder-name" name="cardholder-name" class="field" placeholder="Enter your name here"/>
      </label>
    </div>
    <div class="group">
      <label>
        <span>Card</span>
        <div id="card-element" class="field"></div>
      </label>
    </div>
    <div class="group">
      <label>
        <span>Amount $</span>
        <%= f.text_field :amount_cents, data: { autonumeric: { aSign: '', a_sep: ',', a_dec: '.', vMin: '0', vMax: "50" } }, class: 'field' %>
        <span>($20 - $50)</span>
      </label>
    </div>
    <div style="display: none" class="group">
      <label>
        <span>Token</span>
        <input id="token" name="token" class="field"/>
      </label>
    </div>
    <button class="button btn btn-mod" type="submit">Pay</button>
    <span class="processing" style="display: none">
      Processing...
      <div class="loading-spinner"></div>
    </span>
    <div class="error visible">
      <% if @error %>
        <%= @error %>
      <% end %>
    </div>
  <% end %>
</div>
