<!-- Navigation panel -->
<nav class="main-nav js-stick">
  <div class="full-wrapper relative clearfix">
    <!-- Logo ( * your text or image into link tag *) -->
    <div class="nav-logo-wrap local-scroll">
      <%= link_to 'TUTRME.', root_path, :class => 'logo' %>
    </div>
    <div class="mobile-nav">
      <i class="fa fa-bars"></i>
    </div>
    <!-- Main Menu -->
    <div class="inner-nav desktop-nav">
      <ul class="clearlist">

        <%- if controller_name != 'sessions' %>

            <li>
              <%= active_link_to new_profile_session_path do %>
                  <span class="btn btn-mod btn-circle">Sign In</span>
              <% end %>
            </li>
        <%- elsif devise_mapping.registerable? && controller_name != 'registrations' %>
            <li>
              <%= active_link_to new_profile_registration_path do %>
                  <span class="btn btn-mod btn-circle">Sign Up</span>
              <% end %>
            </li>
        <% end -%>

      </ul>
    </div>
  </div>
</nav>
<!-- End Navigation panel -->
