<div class="top">
  <span>To: <span class="name"><%= @other_profile.first_name %></span></span>
  <% if @other_profile.active_tutor == true %>
      <div>
        <%= link_to "View Profile", profile_path(@other_profile), :class => " btn btn-mod btn-w btn-round conversation_link col-xs-12 col-sm-12 col-md-3 col-md-offset-2" %>
        <%= link_to "Book A Session", new_profile_booking_path(@other_profile), :class => " btn btn-mod btn-w btn-round conversation_link col-xs-12 col-sm-12 col-md-3" %> <!--TODO-->
      </div>
  <% end %>
</div>
<div class="chat active-chat" style="overflow-y: scroll;">
  <div class="conversation-start">
    <% if @loadedAllMessages %>
        <span>No More Messages</span>
    <% else %>
        <span onClick="loadMoreConvo()">Load More</span>
    <% end %>
  </div>
  <% @messages.reverse_each do |message, i| %>
    <% if message.profile_id == current_profile.id %>
      <div class="bubble me">
        <div class="time"><%= message.created_at.strftime("%x %H:%M:%S") %></div>
        <%= message.body %>
      </div>
    <% else %>
      <div class="bubble you">
        <div class="time"><%= message.created_at.strftime("%x %H:%M:%S") %></div>
        <%= message.body %>
      </div>
    <% end %>
  <% end %>

</div>
<div class="write">
  <input class="message_input" type="text" placeholder="Type a message here"/>
  <a href="javascript:sendMessage()" class="write-link send"></a>
</div>
