<div class="conversations"  style = "height: 600px;">
  <div class="wrapper">
    <div class="conversation_container">
      <div class="left col-md-4 col-sm-6 col-xs-6">

<!--    TODO This is a search bar    <div class="top">
          <input type="text"/>
          <a href="javascript:;" class="search"></a>
        </div>-->
        <ul class="people" style="overflow:scroll">
          <% @conversations.each_with_index { |conversation, i| %>
              <li class="person" data-chat="person<%= @conversation_info.profiles[i].id %>" onClick="loadConvo(<%= @conversation_info.profiles[i].id  %>,<%= conversation.id  %>)">
                <%= image_tag @conversation_info.profiles[i].avatar.url %>
                <span class="name"><%= @conversation_info.profiles[i].first_name %></span></br>
                <span class="time"><%= @conversation_info.times[i] %></span>
                <span class="preview"><%= @previews[i] %></span>
              </li>
          <% } %>
        </ul>
      </div>
      <div class="right_convo col-md-8 col-sm-6 col-xs-6">
        <div class="convo">
          <% if @conversations.empty? %>
            <h2 class="section-title font-alt mt-120 mb-sm-30">
              No Conversations
            </h2>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
