$(".convo").html("<%= escape_javascript(render :partial => 'conversations/show' ) %>");

$('.message_input').bind('keypress', function(e) {
  if(e.keyCode == 13){
    if(e.shiftKey) {
    } else {
      sendMessage();
    }
  }
});
