// fixes issue in the navbar where the button links are not aligned with regular links
nav span.btn{
  vertical-align: inherit;
}

// fixes issue in the sign in container for mobile where the left and right columns would not respect having half width
@media only screen and (max-width: 767px) {

  form .cf-left-col,
  form .cf-right-col{
    max-width: 49.4%;
  }

  .cf-left-col{
    width: 49.4%;
    float: left;
    margin-right: 1.2%;
  }
  .cf-right-col{
    width: 49.4%;
    float: left;
  }
}

// fixes issue where input is automatically transformed to uppercase
.form input[type="text"], .form input[type="email"], .form input[type="number"], .form input[type="url"], .form input[type="search"], .form input[type="tel"], .form input[type="password"], .form input[type="date"], .form input[type="color"], .form select {
 text-transform: none;
}

#filters .control-label {
  text-align: left !important;
}

.price-range-right{
  text-align: right;
}

#price-range-slider{
  margin-top: 11px;
}