We are contacting you to let you know that your booking with <%= @booking.tutor_profile.first_name %> has been cancelled.
Click <%= link_to "Here", url_for([@booking.student_profile, @booking]) %> to see the booking

If you feel this was a mistake, please send us a message straight away.

All the best,
The Crew at Tutrme.
