We are contacting you to let you know that your booking with <%= @booking.student_profile.first_name %> has been cancelled.
Click <%= link_to "Here", url_for([@booking.tutor_profile, @booking]) %> to see the booking

If you have any questions, feel free to send us a message at any time.

All the best,
The Crew at Tutrme.
