<%= content_for :preview do %>
<% end %>

<%= content_for :body do %>
  <!-- Email Body : BEGIN -->
  <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 600px;">

    <!-- 1 Column Text + Button : BEGIN -->
    <tr>
      <td bgcolor="#ffffff">
        <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" width="100%">
          <tr>
            <td style="padding: 0px 40px 40px 40px; font-family: sans-serif; font-size: 17px; line-height: 20px; color: #555555;">
              <h5 class="font-alt normal" align="center">Your booking with <%= @tutor.first_name %> has been confirmed.</h5>
              <h6 class="font-alt normal" style="padding-top: 20px; border-top: black; border-top-width: thin; border-top-style: groove; letter-spacing: 0.11em; text-transform:none;">Time: <%= @booking.time %></h6>
              <h6 class="font-alt normal" style="letter-spacing: 0.11em; text-transform:none;">Date: <%= @booking.date %></h6>
              <h6 class="font-alt normal" style="letter-spacing: 0.11em; text-transform:none;">Time length: <%= @booking.time_length %></h6>
              <h6 class="font-alt normal" style="letter-spacing: 0.11em; text-transform:none;">Contact number: <%= @booking.contact_number %></h6>
              <h6 class="font-alt normal" style="letter-spacing: 0.11em; text-transform:none;">Course Code: <%= @booking.course_code %></h6>
              <h6 class="font-alt normal" style="padding-bottom: 20px; border-bottom: black; border-bottom-width: thin; border-bottom-style: groove; letter-spacing: 0.11em; text-transform:none;">Medium: <%= @booking.medium %></h6>
              <h6 class="font-alt normal" style="letter-spacing: 0.11em; text-transform:none;">We will send you a reminder email a few days before the booking.</h6>
              <h6 class="font-alt normal" style="letter-spacing: 0.11em; text-transform:none;">Just a reminder, if you are not fully satisfied, please contact us immediately.</h6>
              <h6 class="font-alt normal" style="letter-spacing: 0.11em; text-transform:none;">If you have any questions, feel free to send us a message at any time.</h6>
              <h6 class="font-alt normal" style="letter-spacing: 0.11em; text-transform:none;"> All the best,</h6>
              <h6 class="font-alt normal" style="margin-top: 0.5em; letter-spacing: 0.11em; text-transform:none;">The Crew at Tutrme.</h6>
              <br><br>
              <!-- Button : Begin -->
              <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: auto;">
                <tr>
                  <td style="border-radius: 3px; background: #222222; text-align: center;" class="button-td">
                    <a href="http://www.tutrme.co" style="background: #222222; border: 15px solid #222222; font-family: sans-serif; font-size: 13px; line-height: 1.1; text-align: center; text-decoration: none; display: block; border-radius: 3px; font-weight: bold;" class="button-a">
                      <span style="color:#ffffff;" class="button-link">&nbsp;&nbsp;&nbsp;&nbsp;Visit us here&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </a>
                  </td>
                </tr>
              </table>
              <!-- Button : END -->
              <br>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <!-- Email Body : END -->
  </table>
<% end %>
