Your booking with <%= @tutor.first_name %> has been confirmed.

Time:
<%= @booking.time %>

Date:
<%= @booking.date %>

Time length:
<%= @booking.time_length %>

Contact number:
<%= @booking.contact_number %>

Course Code:
<%= @booking.course_code %>

Medium:
<%= @booking.medium %>

Just a reminder, if you are not fully satisfied, please contact us immediately.

If you have any questions, feel free to send us a message at any time.

All the best,
The Crew at Tutrme.
