Just a quick reminder that you have a booking in a few days.

Here are the details.

Time:
<%= @booking.time %>

Date:
<%= @booking.date %>

Time length:
<%= @booking.time_length %>

Contact number:
<%= @booking.contact_number %>

Course Code:
<%= @booking.course_code %>

Medium:
<%= @booking.medium %>

If you have any questions, feel free to send us a message at any time.

All the best,
The Crew at Tutrme.
