<%= content_for :preview do %>
<% end %>

<%= content_for :body do %>
  <!-- Email Body : BEGIN -->
  <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 600px;">

    <!-- 1 Column Text + Button : BEGIN -->
    <tr>
      <td bgcolor="#ffffff">
        <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" width="100%">
          <tr>
            <td style="padding: 40px; font-family: sans-serif; font-size: 17px; line-height: 20px; color: #555555;">
              <h5 class="font-alt normal" align="center"> Hi <%= @review.reviewer.first_name %></h5>
              <h6 class="font-alt normal" align="center"> We hope you learnt lots from <%= @review.profile.first_name %></h6>
              <h6 class="font-alt normal" style="letter-spacing: 0.11em; text-transform:none;" align="center">If you would like to leave a review for them, click <%= link_to "here", edit_profile_review_url(@review.profile, @review.token) %>.</h6>
              <h6 class="font-alt normal" style="letter-spacing: 0.11em; text-transform:none;" align="center">If you had issues with <%= @review.profile.first_name.humanize %>, please contact us asap.</h6>
              <br><br>
              <!-- Button : Begin -->
              <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: auto;">
                <tr>
                  <td style="border-radius: 3px; background: #222222; text-align: center;" class="button-td">
                    <a href="http://www.tutrme.co" style="background: #222222; border: 15px solid #222222; font-family: sans-serif; font-size: 13px; line-height: 1.1; text-align: center; text-decoration: none; display: block; border-radius: 3px; font-weight: bold;" class="button-a">
                      <span style="color:#ffffff;" class="button-link">&nbsp;&nbsp;&nbsp;&nbsp;Visit us here&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </a>
                  </td>
                </tr>
              </table>
              <!-- Button : END -->
              <br>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <!-- Email Body : END -->
  </table>
<% end %>
