Hi <%= @review.reviewer.first_name %>
We hope you learnt lots from <%= @review.profile.first_name %>
If you would like to leave a review for them, follow this link: <%= edit_profile_review_url(@review.profile, @review.token) %>.
If you had issues with <%= @review.profile.first_name.humanize %>, please contact us asap.
