It looks like you have insufficient funds for your booking with <%= @booking.tutor_profile.first_name %>
Please add <%= humanized_money_with_symbol @booking.price.dollars %> to your account by within 3 days, otherwise the booking will be cancelled.

If you have any questions, feel free to send us a message at any time.

All the best,
The Crew at Tutrme.
