Welcome to Tutrme, <%= @profile.try(:first_name).capitalize || @profile.email %>
===============================================

You have successfully signed up.

To login to the site, just follow this link: Tutrme.co

Thanks for joining and have a great day!
