<% if !@afterDate && @booking.tutor_profile.id == current_profile.id %>
  <% if @booking.tutor_confirmed == false %>
    <div class="col-md-3">
      <div id='confirmation_button'>
        <%= link_to "Confirm", 'javascript:confirmBooking(' + current_profile.id.to_s + ',' + @booking.id.to_s + ')', :class => "btn btn-mod font-alt btn-medium btn-round conversation_link" %> <!--TODO-->
      </div>
    </div>

  <% elsif @booking.tutor_confirmed == true && @booking.student_confirmed == false %>
    <div class="col-md-12">
      <p class=''>You are confirmed.</p>
      <p class=''>Just waiting for <%= @booking.student_profile.try!(:first_name) || 'the student' %> to confirm </p>
    </div>
  <% end %>

<% elsif !@afterDate && @booking.student_profile.id == current_profile.id %>
  <% if @booking.student_confirmed == false %>
    <div class="col-md-3">
      <div id='confirmation_button'>
        <%= link_to "Confirm", 'javascript:confirmBooking(' + current_profile.id.to_s + ',' + @booking.id.to_s + ')', :class => " btn btn-mod font-alt btn-medium btn-round conversation_link" %> <!--TODO-->
      </div>
    </div>

  <% elsif @booking.student_confirmed == true && @booking.tutor_confirmed == false %>
    <div class="col-md-12">
      <p class=''>You are confirmed.</p>
      <p class=''>Just waiting for <%= @booking.tutor_profile.try!(:first_name) || 'the student' %> to confirm </p>
    </div>
  <% end %>
<% end %>

<% if @booking.student_confirmed && @booking.tutor_confirmed %>
  <div class="col-md-12">
    <span class=''> Booking Confirmed </span>
  </div>
<% end %>

