<%= javascript_include_tag 'calendar', 'data-turbolinks-track': true %>

<div class="small-section">
  <div id="frontend" class="calendar col-md-offset-3 col-md-6 col-sm-offset-1 col-sm-10">
  </div>
</div>

<%= form_for [@other_profile, @booking] do |f| %>
    <div class="col-md-offset-3 col-md-5 col-sm-offset-1 col-sm-10">

      <% if @booking.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

            <ul>
              <% @booking.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="col-md-6 col-sm-6">
        <div class="field">
          <%= f.label 'Date Request' %><br>
          <%= f.date_select :datetime , { with_css_classes: true, disabled: true, value: set_date(@booking) }, {} %>
        </div>
        <div class="field">
          <%= f.label 'Time Requested' %><br>
          <%= f.text_field :time, id: "time_select", class: "form-control", value: set_time(@booking) %>
        </div>
        <div class="field">
          <%= f.label :time_length %><br>
          <%= f.select :time_length, options_for_time_length, {}, onChange: "updateTime()", class: "form-control" %>
        </div>
        <div class="field">
          <%= f.label :contact_number %><br>
          <%= f.telephone_field :contact_number, class: "form-control" %>
        </div>
      </div>

      <div class="col-md-6  col-sm-6">
        <div class="field">
          <%= f.label :subject %><br>
          <%= f.select :subject, options_for_subject, {}, prompt: 'Please Select A Subject', class: "form-control" %>
        </div>
        <div class="field">
          <%= f.label :course_code %><br>
          <%= f.text_field :course_code, class: "form-control" %>
        </div>
        <div class="field">
          <%= f.label :medium %><br>
          <%= f.select :medium, options_for_medium, {}, prompt: 'Please Select A Medium', class: "form-control" %>
        </div>
        <div class="field">
          <%= f.label :tutoring_year %><br>
          <%= f.select :tutoring_year, options_for_year, {}, prompt: 'Please Select Your Year', class: "form-control" %>
        </div>
        <div class="field">
          <%= f.label 'University / Location' %><br>
          <%= f.text_field :university, class: "form-control" %>
        </div>
        <div style="display:none" class="field">
          <%= f.label :price_cents %><br>
          <%= f.text_field :price_cents , class: "form-control"%>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-8 col-xs-12 col-sm-offset-2 col-md-offset-0 mt-30">
      <div class="price DOPBCPCalendar-sidebar">
        <div id="DOPBCPCalendar-reservation0" class="dopbcp-module"><h4>Reservation</h4>
          <div id="DOPBCPCalendar-reservation-cart0">
            <div class="dopbcp-cart-wrapper">
              <table class="dopbcp-cart">
                <tbody>
                <tr>
                  <td class="dopbcp-label">Time Requested:</td>
                  <td id="time_requested" class="dopbcp-value"></td>
                </tr>
                <tr class="dopbcp-separator">
                  <td class="dopbcp-label">
                    <div class="dopbcp-line"></div>
                  </td>
                  <td class="dopbcp-value">
                    <div class="dopbcp-line"></div>
                  </td>
                </tr>
                <tr>
                  <td class="dopbcp-label">Rate Per Hour</td>
                  <td class="dopbcp-value">
                    <span class="dopbcp-info-price"> <%= humanized_money_with_symbol @other_profile.rate.dollars %> </span>
                    <span style="display:none" id="hidden_rate"> <%= humanized_money @other_profile.rate.dollars %> </span>
                  </td>
                </tr>
                <tr class="dopbcp-separator">
                  <td class="dopbcp-label"></td>
                  <td class="dopbcp-value"></td>
                </tr>
                <tr class="dopbcp-total">
                  <td class="dopbcp-label">Total</td>
                  <td id="total_cost" class="dopbcp-value">$</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 col-xs-12 col-md-offset-0 col-sm-11 col-sm-offset-1">
        <div class="actions">
          <%= f.submit 'Send Booking Request', :class => "col-xs-12 col-md-12 col-sm-11 btn btn-mod btn-round conversation_link" %>
        </div>
      </div>
    </div>
<% end %>

<div id="availability" style="display:none;"><%= @availability %></div>
