<section id = "tutor_bookings">
  <div class="container relative font-alt">
    <div class = "col-md-12 col-sm-12 col-lg-12 col-xs-12">
      <span>
        Confirmed
      </span>
      <% if @confirmed_tutoring_bookings.try(:present?) then %>
          <% @confirmed_tutoring_bookings.each do | booking | %>
              <div class = "booking">
                Time: <%= booking.datetime_formatted %>
                <%= link_to "View Booking", profile_booking_path(current_profile, booking.id), :class => " btn btn-mod btn-w  btn-round conversation_link" %>
              </div>
          <% end %>
          <%= js_will_paginate @confirmed_tutoring_bookings ,  :param_name => 'tutor_confirmed_page' , :params => {:format => 'js'}%>
      <% else %>
        <p>No Confirmed Bookings</p>
      <% end %>
      <hr/>
      <span>
        Unconfirmed
      </span>
      <% if @unconfirmed_tutoring_bookings.try(:present?) then %>
          <% @unconfirmed_tutoring_bookings.each do | booking | %>
              <div class = "booking">
                Time: <%= booking.datetime_formatted %>
                <%= link_to "View Booking", profile_booking_path(current_profile, booking.id), :class => " btn btn-mod btn-w  btn-round conversation_link" %>
              </div>
          <% end %>
          <%= js_will_paginate @unconfirmed_tutoring_bookings ,  :param_name => 'tutor_unconfirmed_page' , :params => {:format => 'js'}%>
      <% else %>
        <p>No Unconfirmed Bookings</p>
      <% end %>
    </div>
  </div>
</section>

<section id = "student_bookings" class = "hidden_bookings">
  <div class="container relative font-alt">
    <div class = "col-md-12 col-sm-12 col-lg-12 col-xs-12">
      <span>
        Confirmed
      </span>
      <% if @confirmed_student_bookings.try(:present?) then %>
          <% @confirmed_student_bookings.each do | booking | %>
              <div class = "booking">
                Time: <%= booking.datetime_formatted %>
                <%= link_to "View Booking", profile_booking_path(current_profile, booking.id), :class => " btn btn-mod btn-w  btn-round conversation_link" %>
              </div>
          <% end %>
          <%= js_will_paginate @confirmed_student_bookings ,  :param_name => 'student_confirmed_page' , :params => {:format => 'js'}%>
      <% else %>
        <p>No Confirmed Bookings</p>
      <% end %>
      <hr/>
      <span>
        Unconfirmed
      </span>
      <% if @unconfirmed_student_bookings.try(:present?) then %>
          <% @unconfirmed_student_bookings.each do | booking | %>
              <div class = "booking">
                Time: <%= booking.datetime_formatted %>
                <%= link_to "View Booking", profile_booking_path(current_profile, booking.id), :class => " btn btn-mod btn-w  btn-round conversation_link" %>
              </div>
          <% end %>
          <%= js_will_paginate @unconfirmed_student_bookings ,  :param_name => 'student_unconfirmed_page' , :params => {:format => 'js'}%>
      <% else %>
        <p>No Unconfirmed Bookings</p>
      <% end %>
    </div>
  </div>
</section>
