<% if @booking.not_cancelled? && @afterDate %>
  <div class="col-md-12"> Booking Done </div>

<% elsif @booking.cancelled? %>
  <div class="col-md-12">
    The booking has been cancelled
  </div>

<% else %>
  <div class="col-md-3">
    <p> <%= link_to "Edit Booking", edit_profile_booking_path(current_profile, @booking), :class => "btn btn-mod btn-medium btn-round conversation_link font-alt" %></p>
  </div>

  <% if @booking.unpaid? %>
    <div class="col-md-3 col-md-offset-1">
      <a class="btn btn-mod btn-round font-alt btn-medium" href="javascript:popUp('cancel', 'Do you want cancel the booking?', '');">Cancel Booking</a>
      <%= render partial: "pop_up" %>
    </div>
  <% end %>

  <% if @booking.confirmed && @booking.student_profile == current_profile && @booking.unpaid? %>
    <div class="col-md-3 col-md-offset-1">
      <a class="btn btn-mod btn-round font-alt btn-medium" href="javascript:popUp('pay', 'Do you want pay for the booking?', '<%= "Not Enough Funds" if current_profile.balance_cents < @booking.price_cents %>');">Pay for the Booking</a>
      <%= render partial: "pop_up" %>
    </div>
  <% end %>

  <%= render 'bookings/confirmation' %>

  <% if @booking.paid? %>
    <div class="col-md-12 font-bold">Booking is paid for.</div>
  <% end %>
<% end %>
