<div class="popup col-md-5 col-sm-8" id = "popUpMsg">
  <!-- Popup Div Starts Here -->
  <div id="popupContact">
    <!-- Contact Us Form -->
    <form id="form" name="form">
      <h5 class="font-alt" id="title"></h5>
      <h5 style="color:red" id="popUpError"></h5>
      <hr>

      <%= link_to "Yes", profile_booking_pay_path(current_profile, @booking), :class => "btn btn-mod btn-medium btn-round font-alt", :id => "payment_button", :style => "display: none;" %>
      <%= link_to "Yes", profile_booking_cancel_path(current_profile, @booking), :class => "btn btn-mod btn-medium btn-round font-alt", :id => "cancel_button", :style => "display: none;" %>

      <a href="javascript:div_hide()" id="submit" class="btn btn-mod btn-medium btn-round font-alt">No</a>
    </form>
  </div>
  <!-- Popup Div Ends Here -->
</div>
