<nav class="main-nav js-stick">
  <div class="full-wrapper relative clearfix" style="text-align: center">
    <!-- Main Menu -->
    <div class="inner-nav desktop-nav" style="float: none;">
      <ul class="clearlist">
        <!-- Item -->
        <li>
          <%= active_link_to 'Current Booking', profile_bookings_path(current_profile) %>
        </li>

        <li>
          <%= active_link_to 'Past Booking', profile_history_path(current_profile) %>
        </li>
      </ul>
    </div>
  </div>
</nav>
