<div class="col-md-12 profile-label booking">
  <div class="col-md-8 col-sm-6 booking-text mt-20" style="">
    <div class="row pb-40 pt-40 full-border">
      <div class="col-md-12">
        <div class="col-md-4" style="text-align: center;">
          <%= @booking.subject.humanize %>
        </div>
        <div class="col-md-4 side-border">
          <%= @booking.university.titleize %>
        </div>
        <div class="col-md-4" style="text-align: center;">
          <%= format_date(@booking) %>
          <%= @booking.time %>
        </div>
      </div>
    </div>

    <div class="row pb-40 pt-40">
      <div class="col-md-12 full-border">
        <div class="row pb-40 pt-40 bottom-border">
          <div class="col-md-4" style="text-align: center">
            <%= @booking.course_code %>
          </div>
          <div class="col-md-4 side-border" style="text-align: center;">
            <%= @booking.medium.humanize %>
          </div>
          <div class="col-md-4"style="text-align: center;">
            <%= "#{@booking.time_length} Minutes Long" %>
          </div>
        </div>
        <div class="row pb-40 pt-10">
          <div class="col-md-4"style=" text-align: center;">
            <div class="col-md-4">
              <%= image_tag @booking.tutor_profile.avatar.url() %>
            </div>
            <div class="col-md-4" style="text-align: center;">
              <div class="col-md-12 strong">
                Tutor
              </div>
              <div class="col-md-12">
                <%= @booking.tutor_profile.first_name.humanize %>
              </div>
              <div class="col-md-12">
                <%= @booking.tutor_profile.phone_number %>
              </div>
            </div>
          </div>
          <div class="col-md-4 side-border" style="text-align: center;">
            <div class="col-md-12" style="text-align: center;">
              <div class="col-md-12 strong">
                Student
              </div>
              <div class="col-md-12">
                <%= @booking.student_profile.first_name.humanize %>
              </div>
              <div class="col-md-12">
                02723141
              </div>
            </div>
          </div>
          <div class="col-md-4"style=" text-align: center;">
            <%= humanized_money_with_symbol @booking.price.dollars %>
          </div>
        </div>
      </div>
    </div>

    <div class="pb-40 pt-40">
      <%= render partial: 'links' %>
    </div>
  </div>

  <div class="col-md-4 col-sm-6">
    <div class="convo">
      <%= render "bookings_messages/index" %>
    </div>
  </div>
</div>
