<section class="small-section">
  <div class="container relative">
    <h2 class='font-alt'>Tutrme Terms of Service</h2>
    <div>
      Welcome to Tutrme, an online marketplace for helping to match tutor’s and student’s. By accessing the website at www.tutrme.co or tutrme.co, you are agreeing to be bound by these terms of service, all applicable laws, regulations, policies used by Tutrme and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trademark law.
    </div>
    <div>
      If you are interested in reading more about how we store data, or general information about how Tutrme works, please see the privacy policy, cookie policy or FAQ.

      If you use this website to find a tutor, the term Student is referring to you. If you use this website to tutor others, the term Tutor is referring to you. Otherwise, if you are doing both, tutoring and being tutored, both these terms refer to you. User is referring to any person, both registered and unregistered that accesses any web address within Tutrme’s domain (www.tutrme.co).
    </div>
    <div>
      <h4>Interpretation</h4>
      These terms of service replace any other terms and service that have been displayed.
      Lessons and statements are agnostic of each other.
      Registered and unregistered refers to someone who is registered to Tutrme, and someone who is not.
    </div>
    <div>
      <h4>Users Responsbility</h4>
      You represent that you have not been involved or been the subject to any criminal or legal action.
      <h6>You may not:</h6>
      <ul>
        <li>Use our service for any unlawful purpose.</li>
        <li>Release personal information about other users (incl tutors)</li>
        <li>Use the service in a manner that may give rise to any civil liability of Tutrme</li>
        <li>Impersonate or falsify experience or ability in order to gain an unwarranted reputation</li>
        <li>Engage in any communication related to sexual or profane conduct</li>
        <li>Attempt to solicit any user to work with/for another company whether it be for contracting or employment.</li>
        <li>Engage in any anti-social behaviour that includes, but not limited to: vulgar, obscene, exploitative, harassment, stalking.</li>
      </ul>
    </div>
    <div>
      <h4>Student Responsbility</h4>
      <h6>You agree to:</h6>
      <ul>
        <li>Treat your Tutor with respect at all times</li>
        <li>Be on time for the lesson</li>
        <li>Follow the session plan of the tutor</li>
        <li>Meet at a location that is safe</li>
      </ul>
      <div>
        If a tutor attempts to request personal information that is not required for the lesson, or starts to act inappropriately please notify us as soon as possible at support@tutrme.co.  If a tutor is late to the lesson, then they may opt to make it up by finishing later, if this is not applicable, please contact us at support@tutrme.co to resolve the situation.
      </div>
    </div>
    <div>
      <h4>Tutor Responsibility</h4>
      <h6>You agree to:</h6>
      <ul>
        <li>Structure your lessons in a way that is suitable to the Student</li>
        <li>Respect your Students</li>
        <li>Do not lie about your qualifications or ability to teach others</li>
        <li>Keeping your profile up to date</li>
        <li>Not to distribute objectionable content</li>
        <li>Be on time to the lesson and be prepared to teach the student</li>
        <li>Do not request personal information that is not needed to teach the Student</li>
        <li>Communicate with your Students</li>
        <li>Be professional</li>
      </ul>
    </div>
    <div>
      <h4>User relationship with Tutrme</h4>
      The services offered by Tutrme are not in any way related to the services offered by Tutors. Users of the Tutrme service are solely responsible for themselves and are not in any way employed or contracted to Tutrme. Users accept that Tutrme has no control over the actions of other users and have no responsibility over the safety of its users.
    </div>
    <div>
      <h4>Payments</h4>
      <div>
        Users are required to set their own teaching rate, as long as the User is an active tutor. These rates will be publicised and viewable by both registered, and unregistered parties.
      </div>
      <div>
        All Payments must be conducted through the Tutrme service. Tutrme provides an escrow service, between the student and the tutor. These payments will be handled through the secure Stripe payment gateway (https://stripe.com)
      </div>
      <div>
        A user may at any time, contact Tutrme to request a withdrawal of funds. This withdrawal will be processed within 30 days of the initial contact acknowledgment by Tutrme.
      </div>
      <div>
        The user is solely responsible for reporting and paying any taxes that are required by the Government of New Zealand.
      </div>
      <div>
        The student is responsible for having money in their account, three (3) days before the booking date/time, otherwise the booking may be cancelled. 
      </div>
    </div>
    <div>
      <h4>Cancellations</h4>
      <div>
        Tutrme can not be held responsible for the cancellation of a booking at any time before the booking date and time agreed to by the Tutor and Student. If a cancellation occurs more than 24 hours before the date/time arranged, a refund will be given to the Student, otherwise no refund will be given unless agreed upon by Tutrme, the Student and the Tutor.
      </div>
      <div>
      If the Student is not satisfied with the service provided by the Tutor, then a review process will be started.Tutrme will review the evidence presented by both the Tutor and Student and ultimately make the final decision in regard to payment.
      </div>
      <div>
      A refund will be given to the Student if the Tutor fails to show at the arranged meeting location at the arranged date/time. 
      </div>
    </div>
    <div>
      <h4>Termination</h4>
      Tutrme may at any time deny any or all services provided by Tutrme to a User. If Tutrme denies a User access to Tutrme’s services, Tutrme will refund all the money that the user has in their account.
    </div>
    <div>
      <h4>Out Liability</h4>
      To the extent permitted by law, Tutrme provides our Service and content on an "as-is" and "as available" basis and we make no representation or warranty of any kind, express or implied, regarding the service or actions performed by the Users of the service, or that it will be error-free or that defects will be corrected. Further, Tutrme does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the services on its website or otherwise relating to such materials or on any sites linked to this site. TO THE EXTENT PERMITTED BY LAW, OUR AGGREGATE LIABILITY TO YOU IN CONNECTION WITH THE USE OF TUTRME SERVICE INCLUDING BUT NOT LIMITED TO LESSONS, FAILURE OF A LESSON, ERROR WITHIN OUR SYSTEM OR ACTIONS OF USERS, EXCEED THE LESSER AMOUNT OF THE TUTORING LESSON OR $100.
      Tutrme has no responsibility for ensuring that Users of the service are being compliant with any applicable laws, rules, regulations or policies. Tutrme is unable to provide any assurance that the location of the tutoring is suitable, and it is the Student’s responsibility to ensure the location is suitable and safe. Tutrme can not be held responsible for the actions of the Users using our service, including the damage or loss of property or any type of injury. Tutrme can not be held responsibility for the ability of the tutor’s but will provide a process which will resolve disagreements between the two involved Users.
    </div>
  </div>
</section>
