<div class = "error_page small-section">
  <div class = "col-md-8 col-sm-8 col-xs-8 col-lg-8">
    <div class = "row">
      <div class = "mt-30 mb-30 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-xs-11 col-md-11 col-sm-11 title">
        It looks like something went astray!
      </div>
    </div>

    <div class = "row">
      <div class = "mt-10 mb-10 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-xs-11 col-md-11 col-sm-11 other_text">
        Dont worry though! Our best are looking into it <%= image_tag 'arrow.svg', class: "error_arrow" %>
    </div>

    </div>
    <!--
      TODO purchase this http://graphicriver.net/item/monkey-and-computer/10342354?s_rank=79
    -->

    <% if flash[:error] != nil %>
      <div class = "row">
        <div class = "col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-xs-11 col-md-11 col-sm-11 other_text">
          Here is a reason or two for what went wrong

          <div class = "error_list mt-10">
            <li class = "error_message">
              <%= flash[:error] %>
            </li>
          </div>
        </div>
      </div>
    <% end %>


    <div class = "row">
      <div class = "mt-20 mb-10 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-xs-11 col-md-11 col-sm-11 other_text">
        Please contact us if you have further issues
      </div>
    </div>
  </div>

  <div class = "col-md-4 col-sm-4 col-xs-4 col-lg-4">
    <div>
      <%= image_tag 'error.jpg' , class: "error_image mt-sm-50 mt-md-120 mt-xs-140 mt-xxs-140" %>
    </div>
  </div>
</div>
