<% content_for :append_head do %>
  <!-- page specific head attributes -->
<% end %>

<% content_for :append_body do %>
  <!-- page specific body attributes -->
<% end %>

<!-- Index Page -->
<!-- Home Section -->
<section class="home-section bg-dark-alfa-50 parallax-2 fixed-height-small" data-background="<%= asset_path 'hero.jpg' %>" id="home">
  <div class="js-height-parent container">

    <!-- Hero Content -->
    <div class="home-content">
      <div class="home-text">

        <h2 class="hs-line-14 font-alt mb-50 mb-xs-30">
          Learn together.
        </h2>

        <h1 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">
          find or become a tutor in new zealand with ease
        </h1>

        <div class="local-scroll hidden-xs">
          <a href="#howitworks" class="btn btn-mod btn-border-w btn-medium btn-round">Show Me</a>
        </div>

      </div>
    </div>
    <!-- End Hero Content -->

  </div>
</section>
<!-- End Home Section -->

<!-- Section -->
<%
    # <section class="small-section bg-gray-lighter" id="local">
  # <div class="container relative">
  #
  #    <h2 class="section-title font-alt mb-60 mb-sm-30">
  #      Featured tutors
  #    </h2>
  #
  #  </div>
  #</section> %>
<!-- End Section -->
<hr class="mt-0 mb-0 ">
<!-- Section -->
<section class="small-section" id="howitworks">
  <div class="container relative">

    <h2 class="section-title font-alt mb-60 mb-sm-30">
      How it works
    </h2>

    <div class="col-md-6 col-sm-12 col-xs-12 no-right-padding">
      <div class="col-md-6 align-center col-sm-6 col-xs-6">
        <%= image_tag 'searching_for_tutor.jpg', alt: "Searching for a tutor" %>
        <h5 class="font-alt">
          Find Or Become A Tutor
        </h5>
        <span class="mt-10">
          <% #Tutrme can help you find a tutor or allow you to earn extra money tutoring courses you aced%>
        </span>
      </div>

      <div class="col-md-6 align-center col-sm-6 col-xs-6">
        <%= image_tag 'booking_complete.jpg', alt: "Booked a tutor" %>
        <h5 class="font-alt">
          Organize A Booking Or Fill Out Your Profile
        </h5>
        <span>
          <% #Request a booking from a tutor or fill out your profile to showcase yourself to others%>
        </span>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12 no-left-padding">
      <div class="col-md-6 align-center col-sm-6 col-xs-6">
        <%= image_tag 'tutoring.jpg', alt: "Student being tutored" %>
        <h5 class="font-alt">
          Tutor Or Be Tutored
        </h5>
        <span class="mt-10">
          <% #Learn, encourage and help others.%>
        </span>
      </div>

      <div class="col-md-6 align-center col-sm-6 col-xs-6">
        <%= image_tag 'happy_student.jpg', alt: "Happy student" %>
        <h5 class="font-alt">
          Ace that course or earn that extra money
        </h5>
        <span>
          <% #Only once both parties are happy will the payment will be released. %>
        </span>
      </div>
    </div>
  </div>
</section>
<!-- End Section -->
<hr class="mt-0 mb-0 ">
<!-- Section -->
<section class="small-section cd-faqs" id="howitworks">
  <div class="container relative">
    <h2 class="section-title font-alt mb-60 mb-sm-30">
      Frequently Asked Questions
    </h2>
    <div class="cd-faq-items">
      <ul id="general" class="cd-faq-group">
        <li class="cd-faq-title font-alt"><h5>General</h5></li>
        <li>
          <a class="cd-faq-trigger" href="#0">What does the full process look like?</a>
          <div class="cd-faq-content">
            <p>
              Once you find a tutor, book a session with them. Organize a location and time to meet and confirm the booking. The student will then need to add funds to their account (Withdrawl at anytime). Payment must be made 2 days before the booking other wise the booking will be cancelled. The funds will be released to the tutor 3 days after the booking. If there are any complications, such as not being able to make the session, please contact us asap.
            </p>
          </div> <!-- cd-faq-content -->
        </li>
        <li>
          <a class="cd-faq-trigger" href="#0">What universities are available?</a>
          <div class="cd-faq-content">
            <p>
              Universities in Wellington, Auckland, Otago, Palmerston North. If we don't have your university, please contact us to get it added.
            </p>
          </div> <!-- cd-faq-content -->
        </li>
        <li>
          <a class="cd-faq-trigger" href="#0">Are there any signup fees?</a>
          <div class="cd-faq-content">
            <p>
            There are no signup fees!
            </p>
          </div> <!-- cd-faq-content -->
        </li>
        <li>
          <a class="cd-faq-trigger" href="#0">How does payment processing work?</a>
          <div class="cd-faq-content">
            <p>
            We use a trusted external service (Stripe) to ensure that we don't store any of your information.
            </p>
          </div> <!-- cd-faq-content -->
        </li>
        <li>
          <a class="cd-faq-trigger" href="#0">Can I be both a tutor and a student?</a>
          <div class="cd-faq-content">
            <p>
            Tutrme allows you to be both! Having touble with a course? Search for a tutor to help you. Aced your course? Fill out your profile and start tutoring others.
            </p>
          </div> <!-- cd-faq-content -->
        </li>
        <li>
          <a class="cd-faq-trigger" href="#0">What if a tutor doesn't meet my expectations?</a>
          <div class="cd-faq-content">
            <p>
            We are not able to ensure that every tutor will meet your expectations. This is why we promise to resolve any issues you may have in a professional manner.
            </p>
          </div> <!-- cd-faq-content -->
        </li>
      </ul>
    </div>
    <p class='align-center'> <%= link_to "More Questions", faq_path, :class => "btn btn-mod btn-medium btn-round conversation_link font-alt" %></p>
  </div>
</section>
