<section class="small-section">
  <div class="container relative">
    <h2 class='font-alt'>Privacy Policy</h2>
    <div>
      <h4>We collect personal information from you, including information about your:</h4>
      <ul>
        <li>Name</li>
        <li>Contact information</li>
        <li>Computer or network</li>
        <li>Interactions with us</li>
        <li>Photos, University, Courses taken, Booking information</li>
      </ul>
      <h4>We collect your personal information in order to:</h4>
      <ul>
        <li>Help connect tutors with students</li>
        <li>Providing some information is optional. If you choose not to enter your tutoring information, we'll be unable to let you tutor students.</li>
      </ul>
      <div>
        <p>We keep your information safe by storing it in secure locations and only allow limited staff access to it.</p>

        <p>
          You have the right to ask for a copy of any personal information we hold about you, and to ask for it to be corrected if you think it is wrong.<br>
          If you’d like to ask for a copy of your information, or to have it corrected, please contact us at support@tutrme.co.
        </p>
      </div>
    </div>
  </div>
</section>
