<!--<div class="panel panel-default">-->
<!--<div class="panel-heading">-->
<!--<h4><%= t('.sign_in', :default => "Sign in") %></h4>-->
<!--</div>-->
<!--<div class="panel-body">-->
<!--<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {role: "form"}) do |f| %>-->
    <!--<div class="form-group">-->
    <!--<%= f.label :email %>-->
    <!--<%= f.email_field :email, autofocus: true, class: "form-control" %>-->
    <!--</div>-->
    <!--<div class="form-group">-->
    <!--<%= f.label :password %>-->
    <!--<%= f.password_field :password, autocomplete: "off", class: "form-control" %>-->
    <!--</div>-->
    <!--
    <% if devise_mapping.rememberable? %>-->
        <!--<div class="checkbox">-->
        <!--<label>-->
        <!--<%= f.check_box :remember_me %>-->
        <!--<%= f.label :remember_me %>-->
        <!--</label>-->
        <!--</div>-->
        <!--
    <% end %>-->
    <!--<%= f.submit t('.sign_in', :default => "Sign in"), class: "btn btn-primary" %>-->
    <!--
<% end %>-->
<!--</div>-->
<!--</div>-->

<!-- Section -->
<section class="small-section">
  <div class="container relative">

    <h2 class="section-title font-alt mb-70 mb-sm-40">
      Login
    </h2>

    <div class="section-text pt-20">

      <div class="fade in">

        <!-- Login Form -->
        <div class="row">
          <div class="col-md-4 col-md-offset-4">

            <!--<form class="form contact-form" id="contact_form" autocomplete="off">-->
            <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {role: "form", class: "form contact-form"}) do |f| %>
                <div class="clearfix">

                  <!-- Username -->
                  <div class="form-group">
                    <!--<input type="text" name="username" id="username" class="input-md round form-control" placeholder="Username" pattern=".{3,100}" required>-->
                    <%= f.email_field :email, autofocus: true, class: "input-md round form-control", placeholder: "Email" %>
                  </div>

                  <!-- Password -->
                  <div class="form-group">
                    <!--<input type="password" name="password" id="password" class="input-md round form-control" placeholder="Password" pattern=".{5,100}" required>-->
                    <%= f.password_field :password, autocomplete: "off", class: "input-md round form-control", placeholder: "Password" %>
                  </div>

                </div>

                <div class="clearfix">

                  <div class="cf-left-col">

                    <!-- Inform Tip -->
                    <div class="form-tip pt-20">
                      <!--<a href="">Forgot Password?</a>-->
                      <%= link_to t(".forgot_your_password", :default => "Forgot password?"), new_password_path(resource_name) %>
                    </div>

                  </div>

                  <div class="cf-right-col">

                    <!-- Send Button -->
                    <div class="align-right pt-10">
                      <!--<button class="submit_btn btn btn-mod btn-medium btn-round" id="login-btn">Login</button>-->
                      <%= f.submit t('.sign_in', :default => "Sign in"), class: "submit_btn btn btn-mod btn-medium btn-round" %>
                    </div>

                  </div>

                </div>
                <% if devise_mapping.rememberable? %>
                    <div class="clearfix">

                      <div class="cf-right-col" style="float: right">

                        <div class="align-right pt-10">
                          <label class="checkbox-inline form-tip">
                            <%= f.check_box :remember_me %>Remember me
                          </label>
                        </div>

                      </div>
                    </div>
                <% end %>

                <!--</form>-->
            <% end %>
          </div>
        </div>
        <!-- End Login Form -->
      </div>
    </div>

  </div>
</section>
<!-- End Section -->
