<% if @search.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@search.errors.count, "error") %> in your search:</h2>

    <ul>
      <% @search.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="col-md-12">
  <% @tutors.each do |tutor|
    if (tutor.id != current_profile.id) %>
  <div class="col-md-4">
    <div class="panel panel-default col-md-offset-1 col-md-11 col-sm-12 col-xs-12">
      <div class="row">
        <div class="search_name col-md-12 col-sm-3 col-xs-6">
          <%= tutor.first_name.humanize %>
          <%= "#{humanized_money_with_symbol tutor.rate} Per Hour" %>
        </div>
      </div>
      <div class="row">
        <div class="image col-md-6 col-sm-4 col-xs-6">

          <div class="col-md-12 col-sm-12 mb-sm-50 mb-xs-10" style="padding-left:0px">
            <%= image_tag tutor.avatar.url() %>
          </div>

          <div class="contact_box col-md-12 col-sm-12 mb-sm-50" style="padding-left:0px">
            <%= link_to "View profile", profile_path(tutor), class: "contact_button btn btn-mod btn-w btn-round col-xs-12 col-md-12 col-sm-12 no-side-padding" %>
            <a class="contact_button btn btn-mod btn-w btn-round col-xs-12 col-md-12 col-sm-12 no-side-padding" href="javascript:div_show('<%= tutor.first_name %>' , <%= tutor.id.to_s %>)"><%= "Message " + tutor.first_name %> </a>
          </div>

        </div>
        <div class="search_description col-md-6 col-sm-7 col-xs-6" id="wrapper">
          <%= '"' + tutor.description + '"' %>
        </div>
      </div>
    </div>
  </div>
  <% end; end %>
</div>

<% if @tutors.length == 0 %>
  <h3 class="font-alt col-xs-12 col-md-12 align-center">
    No Results
  </h3>
<% end %>

<%= js_will_paginate @tutors %>
</div>

<%= render 'messages/message' %>
