<!-- Section -->
<section class="section pt-10">
  <div class="container relative">

    <!--TODO make the main autocomplete field search BOTH subjects and course codes-->
    <!--TODO add search button-->
    <!-- Form -->
    <%= form_for @search, url: searches_path, html: {method: :get, class: 'form-horizontal'}, :remote => true do |f| %>

        <!-- Row -->
        <div class="row">

          <!-- Col -->
          <div class="col-lg-12">

            <div class="pt-20 mb-20 mb-md-10">
              <div class="input-group input-group-lg">
                <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-search"></i></span>
                <%= f.autocomplete_field :tutoring_subject, autocomplete_tutoring_subject_name_profiles_path,
                                         'class' => 'input-md form-control',
                                         'aria-describedby' => 'sizing-addon1',
                                         'data-auto-focus' => true,
                                         'data-noMatchesLabel' => 'No Subjects Found',
                                         'value' => '',
                                         'placeholder' => 'What do you want to learn? E.g. "Psychology" or "PYSC101"' %>
              </div>
            </div>

          </div>
          <!-- End Col -->

        </div>
        <!-- End Row -->

        <div id="filters" class="row">
          <!-- Divider -->
          <hr class="mt-0 mb-20 "/>
          <!-- End Divider -->

          <div class="col-lg-12">

            <div class="form-group">

              <%= f.label :university, "University", :class => 'col-sm-2 control-label' %>
              <div class="col-sm-10">
                <%= f.autocomplete_field :university, autocomplete_university_name_profiles_path,
                                         'class' => 'form-control',
                                         'data-auto-focus' => true,
                                         'data-noMatchesLabel' => 'No Subjects Found', 'value' => '' %>
              </div>

            </div>

            <div class="form-group">

              <%= f.label :level, "Level", :class => 'col-sm-2 control-label' %>
              <div class="col-sm-10">

                <%= f.collection_check_boxes :tutoring_year, TutoringYear.all, :id, :name do |b| %>
                    <div class="col-sm-3">
                      <div class="checkbox">
                        <label>
                          <%= b.check_box %> <%= b.label %>
                        </label>
                      </div>
                    </div>
                <% end %>

              </div>

            </div>

            <div class="form-group">

              <%= f.label :options, "Tutoring Style", :class => 'col-sm-2 control-label' %>
              <div class="col-sm-10">

                <%= f.collection_check_boxes :media, Medium.all, :id, :name do |b| %>
                    <div class="col-sm-3">
                      <div class="checkbox">
                        <label>
                          <%= b.check_box %> <%= b.label %>
                        </label>
                      </div>
                    </div>
                <% end %>

              </div>

            </div>

            <div class="form-group">

              <%= f.label :price_range, "Price Range (Per Hour)", :class => 'col-sm-2 control-label' %>
              <div class="col-sm-10">
                <div class="col-xs-2">
                  <h5 class="uppercase">$<span id="slider-value-lower"></span></h5>
                  <%= f.hidden_field :min_rate_cents, :value => '0' %>
                </div>
                <div class="col-xs-8">
                  <div id="price-range-slider"></div>
                </div>
                <div class="col-xs-2 price-range-right">
                  <h5 class="uppercase">$<span id="slider-value-upper"></span></h5>
                  <%= f.hidden_field :max_rate_cents, :value => '100' %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%= f.submit "Search", class: "col-md-offset-6 col-sm-offset-5 col-xs-offset-5 submit_btn btn btn-mod btn-medium btn-round" %>
    <% end %>
    <!-- End Form -->
  </div>
  <div class="small-section">
    <div class="col-md-12" id="search_results">
    </div>
  </div>
  </div>
</section>
