jQuery(document).ready(function($){
  if($(".add_funds").length){

    var stripe = Stripe('<%= ENV['PUBLIC_STRIPE_KEY'] %>');
    var elements = stripe.elements();

    var card = elements.create('card', {
      hidePostalCode: true,
      style: {
        base: {
          iconColor: '#666EE8',
          color: '#31325F',
          lineHeight: '40px',
          fontWeight: 300,
          fontFamily: 'Helvetica Neue',
          fontSize: '15px',

          '::placeholder': {
            color: '#CFD7E0',
          },
        },
      }
    });
    card.mount('#card-element');

    function setOutcome(result) {
      var errorElement = document.querySelector('.error');
      errorElement.classList.remove('visible');

      if (result.token) {
        $('#token').val(result.token.id);
        document.querySelector('form').submit();
      } else if (result.error) {
        errorElement.textContent = result.error.message;
        errorElement.classList.add('visible');
      }
    }

    card.on('change', function(event) {
      setOutcome(event);
    });

    document.querySelector('form').addEventListener('submit', function(e) {
      e.preventDefault();

      if($('#cardholder-name').val() == ""){
        var errorElement = document.querySelector('.error');
        $('.error').text("Please enter a name");
        errorElement.classList.add('visible');
        return;
      }

      if($('#txn_amount_cents_val').val() != ""){
        amount = parseInt($('#txn_amount_cents_val').val());
        if(amount > 50 || amount < 20){
          var errorElement = document.querySelector('.error');
          $('.error').text("Please enter an amount between $20 - $50");
          errorElement.classList.add('visible');
          return;
        }
      }

      var form = document.querySelector('form');
      var extraDetails = {
        name: form.querySelector('input[name=cardholder-name]').value,
      };
      $('.processing').show();
      result = stripe.createToken(card, extraDetails).then(setOutcome);
    });
  }
});
