String.prototype.replaceAll = function (search, replacement) {
  var target = this;
  return target.replace(new RegExp(search, 'g'), replacement);
};

$(window).load(function () {
  $(document).on('ready page:load', function () {
    setupSearchBox();
  });
  setupSearchBox();
});




function setupSearchBox() {
  //TODO There is an issue where the jquery isnt being loaded ?

  searchBox = $('#search_box');

  //If there is no search box
  if (searchBox.length == 0) {
    return;
  }
  //Setting up event listener for the search box.
  searchBox.on('railsAutocomplete.select', function (event, data) {
    addToForm(data);
  });

  //If there is nothing to set up, return
  val = $("#hidden_tutoring_subjects").val();
  if (!val || val.length == 0) {
    return;
  }

  //Creating the current tutoring subjects
  items = val.split(",");

  for (i = 0; i < items.length; i++) {

    selectedVal = items[i].replaceAll(' ', '_');

    newLabel = createLabel(selectedVal,items[i]);

    $(".tutoring_subjects").after(newLabel);
  }

}

function addToForm(selectedData) {

  searchBox = $('#search_box');

  //Check we don't already have it added.
  //if( there is an id with tutor_selectedData.item.value ...)
  currentlySelected = $('#tutor_' + selectedData.item.value);
  if (currentlySelected.length) {
    return;
  }

  selectedVal = selectedData.item.value;
  selectedVal = selectedVal.replaceAll(' ', '_');

  //Creating the new form element
  newLabel = createLabel(selectedVal,selectedData.item.value);

  //Added the select value to the hidden input field
  currentValue = $("#hidden_tutoring_subjects").val();
  if (currentValue.length == 0) {
    $("#hidden_tutoring_subjects").val(selectedData.item.value);
  }
  else {
    $("#hidden_tutoring_subjects").val(currentValue + "," + selectedData.item.value);
  }


  //Adding the new element after the tutoring subjects
  $(".tutoring_subjects").after(newLabel);
  $("#search_box").val("");

}

function removeSubject(subjectToRemove) {

  $("#tutor_" + subjectToRemove.replaceAll(' ', '_')).remove();

  hiddenValue = $("#hidden_tutoring_subjects").val().split(',');
  newHiddenValue = "";
  for (i = 0; i < hiddenValue.length; i++) {
    if (hiddenValue[i] != subjectToRemove) {
      newHiddenValue += hiddenValue[i];
    }
  }

  $("#hidden_tutoring_subjects").val(newHiddenValue);
}

function createLabel(selectedVal, selectedDataVal){

  //Creating the new form element
  newLabel = $("<div class='form-group profile-label' id='tutor_" + selectedVal + "'> " +
      "<label class = 'normal subject'>" + selectedDataVal + "</label>  " +
      "<a href='javascript:removeSubject(\"" + selectedDataVal + "\")'> <img src=\'<%= asset_path('remove-icon.svg') %>\' height = \'11\' width = \'11\' /> </a><br>" +
      "</div>");

  return newLabel;

}
