<section class="small-section cd-faq-base">
  <div class="container relative">
    <h2 class='font-alt align-center cd-faq-h2'>Frequently Asked Questions</h2>

    <section class="cd-faq cd-faqs">
      <ul class="cd-faq-categories">
        <li><a class="selected" href="#general">General</a></li>
        <li><a href="#tutors">Tutors</a></li>
        <li><a href="#students">Students</a></li>
        <li><a href="#bookings">Bookings</a></li>
        <li><a href="#funds">Adding Funds</a></li>
      </ul> <!-- cd-faq-categories -->

      <div class="cd-faq-items">
        <ul id="general" class="cd-faq-group">
          <li class="cd-faq-title font-alt"><h5>General</h5></li>
          <li>
            <a class="cd-faq-trigger" href="#0">What does the full process look like?</a>
            <div class="cd-faq-content">
              <p>
              Once you find a tutor, book a session with them. Organize a location and time to meet and confirm the booking. The student will then need to add funds to their account (Withdrawl at anytime). Payment must be made 2 days before the booking other wise the booking will be cancelled. The funds will be released to the tutor 3 days after the booking. If there are any complications, such as not being able to make the session, please contact us asap.
              </p>
            </div> <!-- cd-faq-content -->
          </li>
          <li>
            <a class="cd-faq-trigger" href="#0">What universities are available?</a>
            <div class="cd-faq-content">
              <p>
              Universities in Wellington, Auckland, Otago, Palmerston North. If we don't have your university, please contact us to get it added.
              </p>
            </div> <!-- cd-faq-content -->
          </li>
          <li>
            <a class="cd-faq-trigger" href="#0">Are there any signup fees?</a>
            <div class="cd-faq-content">
              <p>
              There are no signup fees!
              </p>
            </div> <!-- cd-faq-content -->
          </li>
          <li>
            <a class="cd-faq-trigger" href="#0">How does payment processing work?</a>
            <div class="cd-faq-content">
              <p>
              Once a booking is made, the student will need to add funds to their account and pay for the booking at most 1 day before the booking. The funds will be released three days after the booking is complete.
              </p>
            </div> <!-- cd-faq-content -->
          </li>
          <li>
            <a class="cd-faq-trigger" href="#0">Can I be both a tutor and a student?</a>
            <div class="cd-faq-content">
              <p>
              Tutrme allows you to be both! Having touble with a course? Search for a tutor to help you. Aced your course? Fill out your profile and start tutoring others.
              </p>
            </div> <!-- cd-faq-content -->
          </li>
          <li>
            <a class="cd-faq-trigger" href="#0">What if a tutor doesn't meet my expectations?</a>
            <div class="cd-faq-content">
              <p>
              We are not able to ensure that every tutor will meet your expectations. This is why we promise to resolve any issues you may have in a professional manner.
              </p>
            </div> <!-- cd-faq-content -->
          </li>
        </ul>
        <ul id="tutors" class="cd-faq-group">
          <li class="cd-faq-title font-alt"><h5>Tutors</h5></li>
          <li>
            <a class="cd-faq-trigger" href="#0">How do I become a tutor?</a>
            <div class="cd-faq-content">
              <p>
              Go to Profile -> Edit Profile and fill out the form (Don't forget to select active tutor).
              </p>
            </div> <!-- cd-faq-content -->
          </li>
          <li>
            <a class="cd-faq-trigger" href="#0">What am I able to tutor?</a>
            <div class="cd-faq-content">
              <p>
                You can tutor anything! If we don't have a subject on the list, please contact us asap and we will get it added.
              </p>
            </div> <!-- cd-faq-content -->
          </li>
          <li>
            <a class="cd-faq-trigger" href="#0">How much commission is charged?</a>
            <div class="cd-faq-content">
              <p>
                7.5% commission is taken. This is lower than the competitors and allows us to cover the transaction fees on payment and the cost of supplying our services.
              </p>
            </div> <!-- cd-faq-content -->
          </li>
        </ul>
        <ul id="students" class="cd-faq-group">
          <li class="cd-faq-title font-alt"><h5>Students</h5></li>
          <li>
            <a class="cd-faq-trigger" href="#0">I have made a booking, now what?</a>
            <div class="cd-faq-content">
              <p>
              You will need to discuss with the tutor to organise the time, date and location of the lesson. After both parties are happy, both of you will need to confim the booking. Please add the required funds to your account atleast 2 days before the booking time.
              </p>
            </div> <!-- cd-faq-content -->
          </li>
        </ul>
        <ul id="bookings" class="cd-faq-group">
          <li class="cd-faq-title font-alt"><h5>Bookings</h5></li>
          <li>
            <a class="cd-faq-trigger" href="#0">How can I edit my bookings?</a>
            <div class="cd-faq-content">
              <p>
              Bookings -> Find the booking -> View Booking -> Edit booking.
              </p>
            </div> <!-- cd-faq-content -->
          </li>
        </ul>
        <ul id="funds" class="cd-faq-group">
          <li class="cd-faq-title font-alt"><h5>Adding Funds</h5></li>
          <li>
            <a class="cd-faq-trigger" href="#0">Is this secure?</a>
            <div class="cd-faq-content">
              <p>
              We don't store any of your credit card information on our server. We securely send it to the one of the most used Payment gateways in the world and retrieve a one time token. We then use this one time token to charge your card, without ever handling your credit card information.
              </p>
            </div> <!-- cd-faq-content -->
          </li>
        </ul>
      </div>
  </div>
</section>
