// Place all the styles related to the AddFunds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bottom-border-line {
  padding-bottom: 20px;
  border-bottom: black;
  border-bottom-width: thin;
  border-bottom-style: groove;
}

.add_funds {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;

  form {
    width: 480px;
    margin: 20px 0;
  }

  .group {
    background: white;
    box-shadow: 0 7px 14px 0 rgba(49,49,93,0.10),
    0 3px 6px 0 rgba(0,0,0,0.08);
    border-radius: 4px;
    margin-bottom: 20px;
  }

  label {
    position: relative;
    color: #000;
    font-weight: 300;
    height: 40px;
    line-height: 40px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
  }

  .group label:not(:last-child) {
    border-bottom: 1px solid #F0F5FA;
  }

  label > span {
    width: 80px;
    text-align: right;
    margin-right: 30px;
  }

  .field {
    background: transparent;
    font-weight: 300;
    border: 0;
    color: #000000;
    outline: none;
    flex: 1;
    padding-right: 10px;
    padding-left: 10px;
    cursor: text;
  }
  .field::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #444;
  }
  .field:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #444;
    opacity:  1;
  }
  .field::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #444;
    opacity:  1;
  }
  .field:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #444;
  }

  .button {
    float: left;
    display: block;
    box-shadow: 0 7px 14px 0 rgba(49,49,93,0.10),
    0 3px 6px 0 rgba(0,0,0,0.08);
    border-radius: 4px;
    border: 0;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 400;
    width: 100%;
    height: 40px;
    line-height: 38px;
    outline: none;
  }

  button:focus {
    background: #444;
  }

  button:active {
    background: #444;
  }

  .outcome {
    float: left;
    width: 100%;
    padding-top: 8px;
    min-height: 24px;
    text-align: center;
  }

  .success, .error {
    display: none;
    font-size: 13px;
  }

  .success.visible, .error.visible {
    display: inline;
  }

  .error {
    color: #E4584C;
  }

  .success {
    color: #444;
  }

  .success .token {
    font-weight: 500;
    font-size: 13px;
  }

  .loading-spinner {
    $size: 35px;
    $line: 4px;

    display: inline-block;
    border-radius: 50%;
    box-sizing: border-box;
    padding: $line;
    width: $size;
    height: $size;

    &:before {
      content: '';
      width: 100%;
      height: 100%;
      display: block;
      border-radius: 50%;
      border: $line solid #000;
      box-sizing: border-box;
      clip-path: polygon(50% 0%, 100% 0%, 100% 50%, 50% 50%);
      animation-name: loading;
      animation-duration: 1.1s;
      animation-iteration-count: infinite;
      animation-timing-function: cubic-beizer(.17,.67,.83,.67);
    }

    @keyframes loading {
      from {
        transform:rotate(0deg);
      }

      to {
        transform:rotate(360deg);
      }
    }
  }
}

.transactions {

  #page-wrap {
    margin: 50px;
  }
  p {
    margin: 20px 0;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }
  /* Zebra striping */
  tr:nth-of-type(odd) {
    background: #eee;
  }
  th {
    background: #333;
    color: white;
    font-weight: bold;
  }
  td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
  }

  @media
  only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
      display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
    }

    td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }

    /*
    Label the data
     */
td:nth-of-type(1):before { content: "First Name"; }
td:nth-of-type(2):before { content: "Last Name"; }
td:nth-of-type(3):before { content: "Job Title"; }
td:nth-of-type(4):before { content: "Favorite Color"; }
td:nth-of-type(5):before { content: "Wars of Trek?"; }
td:nth-of-type(6):before { content: "Porn Name"; }
td:nth-of-type(7):before { content: "Date of Birth"; }
td:nth-of-type(8):before { content: "Dream Vacation City"; }
td:nth-of-type(9):before { content: "GPA"; }
td:nth-of-type(10):before { content: "Arbitrary Data"; }
  }

  /* Smartphones (portrait and landscape) ----------- */
  @media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px) {
    body {
      padding: 0;
      margin: 0;
    width: 320px; }
  }

  /* iPads (portrait and landscape) ----------- */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    body {
      width: 495px;
    }
  }
}
