// Place all the styles related to the Bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.booking_convo{

  border-width: 1px 1px 1px 1px;

}

.template{
  height: 34px;
  padding: 4px 4px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.year {
  @extend .template;
  width: 30%;

}

.month {
  @extend .template;
  width: 45%;
}

.day {
  @extend .template;
  width: 20%;
}

.template:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}


.unselected_bookings{
  opacity: 0.2;
}

.hidden_bookings{
  display: none;
}

.tutor_selector{
  a, a:hover, a:visited, a:active {
    color: #111111;
    text-decoration: none;
  }
}

.student_selector{
  a, a:hover, a:visited, a:active {
    color: #111111;
    text-decoration: none;
  }
}

.booking {
  .full-border {
    border: 1px solid #ccc;
    border-radius: 5px 5px 5px 5px;
  }

  .side-border {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    text-align: center;
  }

  .bottom-border{
    border-bottom: 1px solid #ccc;
  }
}
