.error_page {
  .title {
    font-family: "Gentium Book Basic", arial, sans-serif;
    font-size: 34px;
  }

  .other_text{
    font-family: "Gentium Book Basic", arial, sans-serif;
    font-size: 20px;
  }

  .error_image{
  }

  .error_list {
    margin-left: 25px;
  }

  .error_arrow{
    height: 50px;
    margin-left: 25px;
  }
}
