@import "variables";

.a:visited {
  color: $color_light_main;
}

.public-footer {
  background-color: $color_backend_highlight;
}

.public-header {
  background-color: $color_backend_highlight;
}

.private-footer {
  background-color: $color_backend_highlight;
}

.private-header {
  background-color: $color_backend_highlight;
}

.header-text {
  color: $color_light_main;
}

.footer-text {
  color: $color_light_main;
}

html, body, .page {
  height: 100%;
}

body > .page {
  height: auto;
  min-height: 100%;
}

.content {
  padding-bottom: 3em;
}

.footer {
  clear: both;
  position: relative;
  height: 3em;
  margin-top: -3em;
}