.hiddendiv {
  display: none;
  white-space: pre-wrap;
  min-height: 50px;
  font-size: inherit;
  padding: 5px;
  word-wrap: break-word;
}

.form-control{
  color: #222;
}

.subject{
  font-size: 15px;
}

.description {
  min-height: 50px;
  font-size: inherit;
  color: #222;
  padding: 5px;
}

.noscroll {
  overflow: hidden;
}

.contact_box {

  padding-top: 15px;

  .contact_button {


  }

  .contact_text{

    border: 1px solid #1c0000;
    border-left: none;
    border-right: none;
    border-top: none;
    text-align: center;

  }
}

.review {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
