/*
* Search Profiles
*
*/
.search_label {
  padding-top: 40px;
  font-family: "Gentium Book Basic", arial, sans-serif;
  font-weight: 200;
  padding: 15px 15px 15px 0px;
}

.search_name {
  padding-bottom: 10px;
  padding-top: 20px;
  font-weight: bold;
  font-family: "Gentium Book Basic", arial, sans-serif;
  font-size: 1.1em;
  text-align: left;
}

.search_description {
  font-family: "Open Sans", arial, sans-serif;
}

.popup {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  position: fixed;
  overflow: auto ;
  z-index: 1300;

  #close {
    position: relative;
    float:right;
    right: -30px;
    top: 10px;
    cursor: pointer;
    height: 15px;
    width: 15px;
  }

  .message_error{
    font-family: 'Raleway', sans-serif;
    color: #962726;
  }

  div#popupContact {
    position: absolute;
    left: 50%;
    top: 17%;
    margin-left: -202px;
    font-family: 'Open Sans', sans-serif
  }

  #form {
    max-width: 450px;
    padding: 10px 50px;
    border: 2px solid gray;
    border-radius: 10px;
    font-family: raleway;
    background-color: #fff
  }

  p {
    margin-top: 30px
  }

  hr {
    margin: 10px -50px;
    border: 0;
    border-top: 1px solid #ccc
  }

  input[type=text] {
    width: 82%;
    padding: 10px;
    margin-top: 30px;
    border: 1px solid #ccc;
    padding-left: 40px;
    font-size: 16px;
    font-family: raleway
  }

  textarea {
    background-image: url(envelope.svg);
    background-repeat: no-repeat;
    background-position: 5px 7px;
    background-size: 20px 20px;
    width: 100%;
    height: 160px;
    padding: 10px;
    resize: none;
    margin-top: 30px;
    border: 1px solid #ccc;
    padding-left: 40px;
    font-size: 16px;
    font-family: raleway;
    margin-bottom: 30px
  }

}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  cursor: wait;
}
