/* Main Colors */
// TODO specify colours here
$color_dark: #2c3e50;
$color_dark_bg: #36353A;
$color_backend_highlight: #34495e;
$color_light_main: #eaedf1;
$color_light_secondary: #dbe1e8;
$color_light_ultra: #f9fafc;
