<%= content_for :preview do %>
<% end %>

<%= content_for :body do %>
  <!-- Email Body : BEGIN -->
  <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 600px;">

    <!-- 1 Column Text + Button : BEGIN -->
    <tr>
      <td bgcolor="#ffffff">
        <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" width="100%">
          <tr>
            <td style="padding: 40px; font-family: sans-serif; font-size: 17px; line-height: 20px; color: #555555;">
              <h5 class="font-alt normal" align="center"> <%= "Hello #{@resource.first_name}!" %></h5>
              <h6 class="font-alt normal align-center" style="letter-spacing: 0.11em; text-transform:none;">Someone has requested a link to change your password, and you can do this through the link below.</h6>
              <h6 class="font-alt normal align-center" style="letter-spacing: 0.11em; text-transform:none;">
                <%= link_to t('.action', :default => "Change my password"), edit_password_url(@resource, :reset_password_token => @token, locale: I18n.locale) %>
              </h6>
              <h6 class="font-alt normal align-center" style="letter-spacing: 0.11em; text-transform:none;">If you didn't request this, please ignore this email.</h6>
              <h6 class="font-alt normal align-center" style="letter-spacing: 0.11em; text-transform:none;">Your password won't change until you access the link above and create a new one.</h6>
              <br><br>
              <!-- Button : Begin -->
              <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: auto;">
                <tr>
                  <td style="border-radius: 3px; background: #222222; text-align: center;" class="button-td">
                    <a href="http://www.tutrme.co" style="background: #222222; border: 15px solid #222222; font-family: sans-serif; font-size: 13px; line-height: 1.1; text-align: center; text-decoration: none; display: block; border-radius: 3px; font-weight: bold;" class="button-a">
                      <span style="color:#ffffff;" class="button-link">&nbsp;&nbsp;&nbsp;&nbsp;Visit us here&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </a>
                  </td>
                </tr>
              </table>
              <!-- Button : END -->
              <br>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <!-- Email Body : END -->
  </table>
<% end %>

<p><%= t('.instruction', :default => "") %></p>

<p></p>

<p><%= t('.instruction_2', :default => "") %></p>
<p><%= t('.instruction_3', :default => "") %></p>
