<!-- Navigation panel -->
<nav class="<%= navigation_classes %>">
  <div class="full-wrapper relative clearfix">
    <!-- Logo ( * your text or image into link tag *) -->
    <div class="nav-logo-wrap local-scroll">

      <%= link_to 'TUTRME.', root_path, :class => 'logo' %>

    </div>
    <div class="mobile-nav">
      <i class="fa fa-bars"></i>
    </div>

    <!-- Main Menu -->
    <div class="inner-nav desktop-nav">
      <ul class="clearlist">

        <!-- Item -->
        <li>
          <%= active_link_to 'Home', root_path %>
        </li>
        <!-- End Item -->

        <!-- Item -->
        <li>
          <%= active_link_to "Sign Up", new_profile_registration_path %>
        </li>
        <!-- End Item -->

        <!-- Button -->
        <li>
          <%= active_link_to "Sign In", new_profile_session_path %>
            <% # <span class="btn btn-mod btn-circle btn-border-w">Sign In</span> %>
        </li>
        <!-- End Button -->

      </ul>
    </div>
    <!-- End Main Menu -->


  </div>
</nav>
<!-- End Navigation panel -->
