<%= form_for @review, url: profile_review_path(@profile, @review.token) do |f| %>
    <% if @review.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

          <ul>
            <% @review.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field" >
      <select id="ratings" style="display: none">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
    <div class="field" style="display: none">
      <%= f.text_field :rating %>
    </div>
    <div class="field">
      <%= f.label "Review" %><br>
      <%= f.text_area :body %>
    </div>
    <div class="actions">
      <%= f.submit "Create Review", class: "submit_btn btn btn-mod btn-medium btn-round" %>
    </div>
<% end %>
