<div class="row multi-columns-row">
  <% if @reviews.empty? %>
    <p class="font-alt col-xs-12 col-md-12 align-center">No Reviews Yet</p>
  <% else %>
    <% @reviews.each_with_index { |review,i| %>
      <!-- Post Item -->
      <div class="col-sm-6 col-md-4 col-lg-4 mb-md-50 fadeIn review" >
        <div class="post-prev-title font-alt">
          <%= review.reviewer.first_name %> | <%= review.created_at.strftime("%d/%m/%Y") %>
        </div>

        <div class="post-prev-info font-alt">
          <div class="field">
            <select id="show_ratings_<%= i %>" style="display: none">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
          <div id="review_rating_<%= i %>" style="display: none"><%= review.rating %></div>
        </div>

        <div class="post-prev-text" style = "word-break: break-all">
          <p>
          <%= review.body %>
          </p>
        </div>

      </div>
      <!-- End Post Item -->
    <% } %>
  <% end %>
</div>

<%= js_will_paginate @reviews , :params => { :controller => 'reviews' , :action => 'index', :profile_id => @profile.id }%>
