<p id="notice"><%= notice %></p>

<p>
  <strong>Rating:</strong>
<div class="field">
  <select id="show_ratings" style="display: none">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
</div>
<div id ="review_rating" style="display: none"><%= @review.rating %></div>
</p>
<p>
  <strong>Description:</strong>
  <%= @review.body %>
</p>

<%= link_to 'Back', profile_reviews_path %>
