<!-- Footer -->
<footer class="page-section footer">
  <div class="container">


    <!-- <div class="footer-social-links mb-110 mb-xs-60">
      <a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
      <a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
      <a href="#" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a>
      </div> -->

      <div class="row">

        <div class="col-md-12">
          <!-- Footer Text -->
          <div class="footer-text">
            <div class="row font-alt">
              <div class="col-md-4">
                <span>Contact Us at support@tutrme.co</span>
              </div>
              <div class="col-md-4 col-md-offset-4">
                <div>
                  <%= link_to 'FAQ', faq_path %>
                  <%= link_to 'Legal', legal_path, style: "padding-left:20px; padding-right:20px;" %>
                  <%= link_to 'Privacy Policy', privacy_policy_path %>
                </div>
              </div>
            </div>
            <div class="row col-md-4 col-md-offset-4">
              <%= embedded_svg "wellington.svg" %>
              <!-- Copyright -->
              <div class="footer-copy font-alt">
                <a href="/"> &copy; TUTRME <span id="year-copy"></span></a>
              </div>
              <!-- End Copyright -->

              <div class="footer-made">
                Crafted in Wellington, NZ
              </div>
            </div>
          </div>
          <!-- End Footer Text -->
        </div>
      </div>
  </div>

  <!-- Top Link -->
  <!--<div class="local-scroll">-->
  <!--<a href="#top" class="link-to-top"><i class="fa fa-caret-up"></i></a>-->
  <!--</div>-->
  <!-- End Top Link -->

</footer>
<!-- End Footer -->
