<!-- Navigation panel -->
<nav class="main-nav js-stick">
  <div class="full-wrapper relative clearfix">
    <!-- Logo ( * your text or image into link tag *) -->
    <div class="nav-logo-wrap local-scroll">

      <%= link_to 'TUTRME.', root_path, :class => 'logo' %>

    </div>
    <div class="mobile-nav">
      <i class="fa fa-bars"></i>
    </div>

    <!-- Main Menu -->
    <div class="inner-nav desktop-nav">
      <ul class="clearlist">

        <!-- Item -->
        <li>
          <%= active_link_to 'Home', root_path, :active => :exclusive %>
        </li>
        <!-- End Item -->

        <!-- Item -->
        <li>
          <%= active_link_to 'Search', new_searches_path  %>
        </li>
        <!-- End Item -->

        <li>
          <%= active_link_to 'Bookings', profile_bookings_path(current_profile) %>
        </li>

        <li>
          <%= active_link_to 'Funds', profile_add_funds_path(current_profile) %>
        </li>

        <!-- Item -->
        <li>
          <%= active_link_to 'Profile', profile_path(current_profile) %>
        </li>

        <!-- Item -->
        <li>
          <%= active_link_to 'Messages', conversations_path %>
        </li>

        <!-- Item -->
        <li>
          <%= active_link_to 'Logout', destroy_profile_session_path, :method => :delete %>
        </li>
        <!-- End Item -->
        
      </ul>
    </div>
    <!-- End Main Menu -->


  </div>
</nav>
<!-- End Navigation panel -->
