<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title><%= @page_title or "Tutrme - Helping pair students and tutors" %></title>
  <!--TODO-->
  <meta name="description" content="">
  <!--TODO-->
  <meta name="keywords" content="">
  <!--TODO-->
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <script src="https://js.stripe.com/v3/" <%= "async" unless controller.controller_path == "add_funds" %> ></script>
  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-99749125-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments)};
    gtag('js', new Date());

    gtag('config', 'UA-99749125-1');
  </script>

  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1997863360458321');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
                                      src="https://www.facebook.com/tr?id=1997863360458321&ev=PageView&noscript=1"
                                      /></noscript>
<!-- End Facebook Pixel Code -->
  <%= stylesheet_link_tag 'vendor', media: 'all', 'data-turbolinks-track': true, async: Rails.env.production? %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': true, async: Rails.env.production? %>
  <%= javascript_include_tag 'head', 'data-turbolinks-track': true %>

  <%= yield :append_head %>

  <%= csrf_meta_tags %>
</head>
<body>

<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<%= content_for?(:content) ? yield(:content) : yield %>

<%= javascript_include_tag 'vendor', 'data-turbolinks-track': true %>
<%= yield :append_body %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': true  %>

<!-- For device errors -->
<% if notice || alert %>
    <div class="hidden">
      <div id="flash" class="<%= notice ? "notice" : "" %><%= alert ? "error" : "" %>">
        <% if notice %>
            <p><%= notice %></p>
        <% elsif alert %>
            <p><%= alert %></p>
        <% end %>
      </div>
    </div>
<% end %>

</body>
</html>
