<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"> <!-- utf-8 works for most cases -->
    <meta name="viewport" content="width=device-width"> <!-- Forcing initial-scale shouldn't be necessary -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Use the latest (edge) version of IE rendering engine -->
    <meta name="x-apple-disable-message-reformatting">  <!-- Disable auto-scale in iOS 10 Mail entirely -->
    <title>Tutrme</title> <!-- The title tag shows in email notifications, like Android 4.4. -->

    <!-- Web Font / @font-face : BEGIN -->
    <!-- NOTE: If web fonts are not required, lines 10 - 27 can be safely removed. -->

    <!-- Desktop Outlook chokes on web font references and defaults to Times New Roman, so we force a safe fallback font. -->
    <!--[if mso]>
      <style>
      * {
      font-family: sans-serif !important;
      }
      </style>
    <![endif]-->

    <!-- All other clients get the webfont reference; some will render the font and others will silently fail to the fallbacks. More on that here: http://stylecampaign.com/blog/2015/02/webfont-support-in-email/ -->
    <!--[if !mso]><!-->
      <!-- insert web font reference, eg: <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'> -->
      <!--<![endif]-->

      <!-- Web Font / @font-face : END -->
      <%= stylesheet_link_tag 'main' %>
      <%= stylesheet_link_tag 'emails/base' %>
      <!-- CSS Reset -->

  </head>
  <body width="100%" bgcolor="#f4f4f4" style="margin: 0; mso-line-height-rule: exactly;">
    <center style="width: 100%; background: #f4f4f4; text-align: left;">

      <!-- Visually Hidden Preheader Text : BEGIN -->
      <div style="display:none;font-size:1px;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;mso-hide:all;font-family: sans-serif;">
        <% yield :preview %>
      </div>
      <!-- Visually Hidden Preheader Text : END -->

      <!--
        Set the email width. Defined in two places:
        1. max-width for all clients except Desktop Windows Outlook, allowing the email to squish on narrow but never go wider than 600px.
        2. MSO tags for Desktop Windows Outlook enforce a 600px width.
      -->
      <div style="max-width: 600px; margin: auto;" class="email-container">
        <!--[if mso]>
          <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" width="600" align="center">
          <tr>
          <td>
        <![endif]-->

        <!-- Email Header : BEGIN -->
        <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 600px; background: #ffffff">
          <tr>
            <td style="padding: 20px 0; text-align: center">
              <div aria-hidden="true" alt="alt_text" border="0" class="logo" style="height: auto; color: #555555; font-weight: 600;">
                Tutrme.
              </div>
            </td>
          </tr>
        </table>
        <!-- Email Header : END -->

        <%= yield :body %>

        <!-- Email Footer : BEGIN -->
        <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 680px;">
          <tr>
            <td style="padding: 40px 10px;width: 100%;font-size: 12px; font-family: sans-serif; line-height:18px; text-align: center; color: #888888;" class="x-gmail-data-detectors">
              Tutrme<br>
              Crafted in Wellington, NZ
              <br><br>
            </td>
          </tr>
        </table>
        <!-- Email Footer : END -->

        <!--[if mso]>
          </td>
          </tr>
          </table>
        <![endif]-->
      </div>
    </center>
  </body>
</html>
