<% content_for :content do %>

    <!-- Page Wrap -->
    <div class="page" id="top">

      <%= render :partial => '/devise/shared/header' %>

      <%= yield %>

      <%= render :partial => '/devise/shared/footer' %>

    </div>
    <!-- End Page Wrap -->

<% end %>

<%= render template: 'layouts/application' %>
