<% content_for :content do %>

    <!-- Page Wrap -->
    <div class="page" id="top">

      <%= render :partial => '/common/private/header' %>

      <%= yield %>

      <%= render :partial => '/common/private/footer' %>


    </div>
    <!-- End Page Wrap -->

<% end %>

<%= render template: 'layouts/application' %>
